/*
 * This file is for thunderbird.
 * Put this file in <profile folder>/chrome/ directory 
 */

/*
 * Documents say userChrome.css must include the line below at the top:
 * @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
 * But this line causes the problem of css varibles not being recognized. 
 * https://www.userchrome.org/adding-style-recipes-userchrome-css.html#namespaces
 */

/*
 * This doesn't seems to work. why?
 * @import url("gtk-3.0/colors.css");
*/


/****** Global settings ******/

*|*:root {
    --fg_color: #202020;
    --text_color: black;
    --selected_fg: white;

    --bg_color: #d4d4d4;
    --base_color: #f2f2f2;
    --selected_bg:#486d9d;
    --selected_bg_dark: #3a3c41;
    --menubar_bg: #b5b8be;
    --foldertree_bg: #dde2e7;

    --border_light: rgba(105, 105, 105, 0.3);
    --border_dark: #808080;

    --toolbox-border-bottom-color: var(--border_dark) !important;
    --toolbarbutton-border-radius: 4px !important;

    --tab_border_radius: 10px;
    --tab_border_width: 1px;
    --tab_border_style: solid;
}


/***** Title Bar *****/

#titlebar {
    background: var(--menubar_bg) !important;
    border-radius: 8px 8px 0px 0px !important;   
}

#titlebar > unified-toolbar {
    border-bottom: none !important;
}


/***** Menu *****/

/* Position Menu Bar above Unified Toolbar */
#toolbar-menubar {
    order: -1 !important;
}

#mail-menubar > menu {
    margin-right: 0.5rem !important;
}

.menuitem-with-favicon,
.menu-iconic {
    margin-left: 6px !important;
}

menuseparator {
    margin: 4px 10px !important;
}

/****** Tab bar *****/

/* 위에 search bar와 아래 menubar를 통합하는 box의 아래에 경계선을 그음 */
#toolbar-menubar {
    border-bottom: var(--tab_border_width) solid var(--border_dark) !important;
}

/* 아래 탭으로 이루어진 toolbar 셋팅
 * 기본적으로(아마 gtk3 셋팅인듯) 아래 쪽에 box shadow를 그리게 되어 있어 취소
 * background-image를 thunar의 toolbar와 일치하여 gradient로 처리
 * 탭 라인 밑에 따라오는 실제 탭과 거리를 설정하려 했지만 안하는게 자연스러운 듯
 */
#tabs-toolbar {
    box-shadow: none !important;
    background-image: linear-gradient(to top, #7e8185 1px, #999ca1 1px, #b5b8be) !important;
    /* padding-top: .7rem !important; */
}

tab.tabmail-tab {
    position: relative !important;
    border: var(--tab_border_width) solid var(--border_light) !important;
    border-bottom: none !important;
    border-radius: var(--tab_border_radius) var(--tab_border_radius) 0px 0px !important;
}

tab.tabmail-tab[selected="true"] {
    box-sizing: content-box !important;
    border-color: var(--border_dark) !important;
    border-top: 3px solid var(--selected_bg) !important;
}

/* As of ver 115.14.0, thunderbird doesn't seem to support ::before/after
 * 향후 참고를 위해 남겨둠
 */

tab.tabmail-tab[selected="true"]::before {
      content: '';
      position: absolute;
      margin: 0px calc(var(--tab_border_radius) / -1);
      width: var(--tab_border_radius);
      height: 50%;
      right: 100%;
      bottom: 0;
      border-bottom: var(--tab_border_width) var(--tab_border_style) var(--border_dark);
}

tab.tabmail-tab[selected="true"]::after {
      content: '';
      position: absolute;
      margin: 0px calc(var(--tab-border-radius) / -1);
      width: var(--tab-border-radius);
      height: 50%;
      left: 100%;
      bottom: 0;
      border-bottom: var(--tab-border-width) var(--tab-border-style) red;
}

.tab-background[selected="true"] {
    background-color: var(--bg_color) !important;
}

/* seleted item, 특히 tab 위 부분에 나타나는 파란 색 라인
 * developer tool로 보면 별거 없음. 그냥 tab안에 box(?)?
 */
.tab-line {
    background: transparent !important;
}

/****** Tree Views *****/

/* remove zebra striping */
treechildren::-moz-tree-row {
    background-color: transparent !important;
}

treechildren::-moz-tree-row(selected) {
    background: var(--selected_bg) !important;
}

treechildren::-moz-tree-cell-text(selected) {
    color: var(--selected_fg) !important;
}

treechildren::-moz-tree-twisty {
    width: 12px !important;
    -moz-image-region: rect(0px 12px 12px 0px) !important;
    -moz-appearance: none !important;
    list-style-type: image !important;
}


/****** Folder Pane *****/
#folderPane {
    background-color: var(--foldertree_bg) !important;
    border-right: 1px solid var(--border_dark) !important;
}

#folderPaneHeaderBar { /* New Message part */
    background-color: transparent !important;
    padding: 15px 0px !important;
    /* for border-bottom below to have left/right spaces */
    margin: 0px 10px !important;
    border-bottom: 1px solid var(--border_light) !important;
}

#folderPaneWriteMessage {
    border-radius: 18px !important;  /* button height 36 */
    background: var(--selected_bg) !important;
}

#folderTree {
    -moz-appearance: none !important;
    color: var(--fg-color) !important;
    /* padding-top: 10px !important; */
}

#folderTree > treechildren::-moz-tree-row(selected),
#folderTree li[is="folder-tree-row"][aria-selected="true"] > div.container {
    color: var(--selected_fg) !important;
    background: var(--selected_bg_dark) !important;
}

/* folder icon color */
#folderTree > treechildren::-moz-tree-image(selected) {
    fill: var(--selected_fg) !important;
}

#folderTree > treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
#folderTree > treechildren::-moz-tree-cell-text(folderNameCol, closed, subfoldersHaveUnreadMessages-true) {
    color: inherit !important;
    font-style: italic !important;
}

#folderpane_splitter {
    border-inline-start: 1px solid var(--border_dark) !important;
}


/***** MessagesBox *****/

/* Thread tree, 메일 리스트 */
#threadTree {
    background: var(--base_color) !important;
    border-bottom: 1px solid var(--border_dark) !important;
}

#threadpane-splitter, #attachment-splitter {
    border-bottom: 1px solid var(--border_dark) !important;
}

/* message header, 메세지 정보 */
#msgHeaderView {
    background: var(--bg_color) !important;
    border-bottom: 1px solid var(--border_light) !important;
}

/* messagepanebox */
#messagepane {
    background: var(--base_color) !important;
    border-bottom: 1px solid var(--border_light) !important;
}

#attachmentView {
}   

/* status bar */
#status-bar {
    border-top: 1px solid var(--border_dark) !important;
    background: var(--bg_color) !important;
}

/* searchbox */
.searchBox,
#view-task-edit-field,
#unifinder-task-edit-field {
    border-color: var(--border_dark) !important;
}

.searchBox:hover,
#view-task-edit-field:hover,
#unifinder-task-edit-field:hover {
    border-color: var(--fg_color) !important;
}
