/*
 * This file is for thunderbird.
 * Put this file in <profile folder>/chrome/ directory 
 */

/*
 * Documents say userChrome.css must include the line below at the top:
 * @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
 * But this line causes the problem of css varibles not being recognized. 
 * https://www.userchrome.org/adding-style-recipes-userchrome-css.html#namespaces
 */

/****** Global settings ******/

*|*:root {
    --fg_color: #202020;
    --text_color: black;
    --selected_fg: white;

    --bg_color: #d4d4d4;
    --base_color: #f2f2f2;
    --selected_bg:#486d9d;
    --selected_bg_dark: #3a3c41;
    --menubar_bg: #b5b8be;
    --foldertree_bg: #dde2e7;

    --border_light: rgba(105, 105, 105, 0.3);
    --border_dark: #808080;

    --toolbox-border-bottom-color: var(--border_dark) !important;
    --toolbarbutton-border-radius: 4px !important;    
}

/***** Menu *****/

#titlebar {
    background: var(--menubar_bg) !important;
    border-radius: 8px 8px 0 0;   
}

.menuitem-with-favicon,
.menu-iconic {
    margin-left: 6px;
}

menuseparator {
    margin: 4px 10px !important;
}

/****** Tab bar *****/

.tab-line {
    background: transparent !important;
}

/****** Tree Views *****/

/* remove zebra striping */
treechildren::-moz-tree-row {
    background-color: transparent !important;
}

treechildren::-moz-tree-row(selected) {
    background: var(--selected_bg) !important;
}

treechildren::-moz-tree-cell-text(selected) {
    color: var(--selected_fg) !important;
}

treechildren::-moz-tree-twisty {
    width: 12px !important;
    -moz-image-region: rect(0px 12px 12px 0px) !important;
    -moz-appearance: none !important;
    list-style-type: image !important;
}


/****** Folder Pane *****/
#folderPane {
    background: var(--foldertree_bg) !important;
    border-right: 1px solid var(--border_dark) !important;
}

#folderPaneHeaderBar {
    background: var(--foldertree_bg) !important;
    padding: 15px 0px !important;
}

#folderPaneWriteMessage {
    border-radius: 20px !important;
    background: var(--selected_bg) !important;
}

#folderTree {
    -moz-appearance: none !important;
    color: var(--fg-color) !important;
    margin-top: 5px !important;
}

#folderTree > treechildren::-moz-tree-row(selected),
#folderTree li[is="folder-tree-row"][aria-selected="true"] > div.container {
    color: var(--selected_fg) !important;
    background: var(--selected_bg_dark) !important;
}

/* folder icon color */
#folderTree > treechildren::-moz-tree-image(selected) {
    fill: var(--selected_fg) !important;
}

#folderTree > treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
#folderTree > treechildren::-moz-tree-cell-text(folderNameCol, closed, subfoldersHaveUnreadMessages-true) {
    color: inherit !important;
    font-style: italic !important;
}

#folderpane_splitter {
    border-inline-start: 1px solid var(--border_dark) !important;
}


/***** MessagesBox *****/

/* Thread tree, 메일 리스트 */
#threadTree {
    background: var(--base_color) !important;
    border-bottom: 1px solid var(--border_dark) !important;
}

#threadpane-splitter, #attachment-splitter {
    border-bottom: 1px solid var(--border_dark) !important;
}

/* 메세지 헤더 */
#msgHeaderView {
    background: var(--bg_color) !important;
    border-bottom: 1px solid var(--border_light) !important;
}

/* messagepanebox */
#messagepane {
    background: var(--base_color) !important;
    border-bottom: 1px solid var(--border_light) !important;
}

#attachmentView {
}   

/* status bar */
#status-bar {
    border-top: 1px solid var(--border_dark) !important;
    background: var(--bg_color) !important;
}

/* searchbox */
.searchBox,
#view-task-edit-field,
#unifinder-task-edit-field {
    border-color: var(--border_dark) !important;
}

.searchBox:hover,
#view-task-edit-field:hover,
#unifinder-task-edit-field:hover {
    border-color: var(--fg_color) !important;
}
