/*
 userChrome.css for firefox.
 Rename this file to userChrom.css and put it in <profile folder>/chrome/.
 Or just make a symlink named 'userChrome.css' in <profile folder>/chrome/.
*/

/*
 Documents say userChrome.css must include the line below at the top:
 @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
 But this line causes the problems of css varibles not being recognized.
 https://www.userchrome.org/adding-style-recipes-userchrome-css.html#namespaces
*/

/* Remove focus rings in dialog window(ex: radio button in open/save dialog) */
window {
    --focus-outline-width: 0px !important;
}

menupopup {
    --panel-padding: 4px !important;
}

menuseparator {
    margin: 4px 10px !important;
}

/* application menu on the right of search bar. three horizontal bars */
#appMenu-popup toolbarbutton {
    --arrowpanel-menuitem-padding: 4px 8px;
}

/* tooltip follows the gtk theme, i.e., gtk.css */
