gtk-color-scheme = "panel_bg: #a1a8af"

style "panel" {

  xthickness = 2
  ythickness = 0

  bg[NORMAL] = @panel_bg
  bg[ACTIVE] = @panel_bg
  bg[PRELIGHT] = @panel_bg
  bg[SELECTED] = @panel_bg

  fg[NORMAL] = @fg_color
  fg[PRELIGHT] = @fg_color
  fg[ACTIVE] = @fg_color
  fg[SELECTED] = @fg_color

  text[NORMAL] = @text_color
  text[PRELIGHT] = @text_color
  text[ACTIVE] = @text_color
  text[SELECTED] = @text_color
}

style "panel_progressbar" {
  bg[ACTIVE] = "#1D1F26"
}

style "panel_button" {
  GtkButton::inner-border = {1, 1, 1, 1}

  xthickness = 4
  ythickness = 0

  fg[SELECTED] = @text_color
  
  engine "pixmap" {
    image {
      function = BOX
      state    = ACTIVE
      file     = "assets/button-active.png"
      border   = {5, 5, 5, 5}
      stretch  = TRUE
    }

    image {
      function = BOX
      state    = PRELIGHT
      shadow   = IN
      file     = "assets/button-active-hover.png"
      border   = {5, 5, 5, 5}
      stretch  = TRUE
    }
	
    image {
      function = BOX
      file     = "assets/panel-button.png"
      border   = {5, 5, 5, 5}
      stretch  = TRUE
    }
  }
}

style "selection" = "panel" {
  bg[SELECTED]   = @selected_bg_color
  bg[ACTIVE]     = @selected_bg_color

  fg[SELECTED]   = @selected_fg_color
  fg[ACTIVE]     = @selected_fg_color

  text[SELECTED] = @selected_fg_color
  text[ACTIVE]   = @selected_fg_color
}

style "separator" {
  # xthickness = 4 <-- this does not work

  engine "pixmap" {
    image {
      function = VLINE
      file     = "assets/separator.png"
      border   = {1, 0, 0, 0}
    }
  }
}

style "indicator" = "panel" {
  xthickness = 0
  ythickness = 0
}

###################################################################

class "XfcePanelWindow*"                            style "panel"

# XfceLauncherPlugin, XfceSeparatorPlugin, XfceWindowMenuPlugin and so on
class "Xfce*Plugin"								    style "panel"

# systray
class "WrapperPlug"									style "panel"

widget_class "XfcePanelWindow*.<GtkButton>"	        style "panel_button"
widget_class "*XfcePanelWindow*.GtkProgressBar"     style "panel_progressbar"
widget_class "*XfcePanelWindow*pager*"              style "selection"
widget_class "XfcePanelWindow*Notif*Beagle*"        style "tooltip"
widget_class "XfcePanelWindow*Notif*Brasero*"       style "tooltip"
widget_class "XfcePanelWindow*.XfceSeparatorPlugin" style "separator"

widget "*indicator-applet*"                         style "indicator"
widget "*indicator-button*"                         style "indicator"

/*
widget_class "*PanelToplevel*"                        style "panel"
widget_class "*notif*"                                style "panel"
widget_class "*Notif*"                                style "panel"
widget_class "*Tray*"                                 style "panel" 
widget_class "systray*"                               style "panel"
widget_class "*computertemp*"                         style "panel"
widget_class "*Applet*Tomboy*"                        style "panel"
widget_class "*Applet*Netstatus*"                     style "panel"
widget "*Xfce*Panel*"                                 style "panel"
widget "*PanelWidget*"                                style "panel"
widget "*PanelApplet*"                                style "panel"
widget "*TopMenu*"                                    style "panel"
widget "*fast-user-switch*"                           style "panel"
widget "*CPUFreq*Applet*"                             style "panel"

widget_class "*Xfce*Panel*.GtkToggleButton"           style "panel_button"
widget_class "*Xfce*NetkTasklist*GtkToggleButton"     style "panel_button"
widget_class "*PanelToplevel*Button"                  style "panel_button"
widget_class "*Panel*GtkToggleButton"                 style "panel_button"
widget_class "*Xfce*Panel*Button*"                    style "panel_button"
widget_class "*<XfceArrowButton>"                     style "panel_button"
widget_class "*<XfceActionsPlugin>*"                  style "panel_button"
widget_class "*XfcePanelPlugin.GtkButton"             style "panel_button"
widget_class "*Xfce*NetkTasklist*GtkToggleButton"     style "panel_button"
widget "*dict*Applet*"                                style "panel_button"

widget_class "*Tasklist*"                             style "reverse"
widget "*tasklist*"                                   style "reverse"
widget "*XfceTasklist*"                               style "reverse"
widget "*WnckPager*"                                  style "reverse"
widget "*pager*"                                      style "reverse"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"                         style "tooltip"
widget_class "*Notif*Brasero*"                        style "tooltip"

widget "*Xfce*Panel*GtkProgressBar"                   style "panel_progressbar"

# Override general panel-style with specific plugin-styles
widget "*indicator-applet*"                           style "indicator"
widget "*indicator-button*"                           style "indicator"
*/
