/*************************************************/
/*                Libre-Office                   */
/*************************************************/

window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal {
  background-image: linear-gradient(to top, #999ca1, #b5b8be);
  background-color: transparent;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}

window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.flat.small-button, window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.small-button.sidebar-button {
  color: rgba(40,40,40, 0.8);
  border: none;
  border-radius: 50px;
  background-image: none;
}

window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.flat.small-button:hover, window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.small-button.sidebar-button:hover {
   background-color: rgba(255, 255, 255, 0.95);
   color: rgba(40,40,40, 0.8);
}

window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.flat.small-button:active, window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.small-button.sidebar-button:active, window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.flat.small-button:checked, window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.small-button.sidebar-button:checked {
  background-color: rgba(255, 0, 0, 0.65);
  color: white;
}

window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.flat.small-button:disabled, window.background:not(.csd):not(.solid-csd) > grid.horizontal > grid.horizontal > button.small-button.sidebar-button:disabled {
  color: alpha(rgba(40, 32, 32, 0.8),0.6);
}

window.background:not(.solid-csd) > notebook:not(.frame) {
  border: 0 none transparent;
  background-color: #ffffff;
}

window.background:not(.solid-csd) > notebook:not(.frame) > stack {
  border: none;
  box-shadow: none;
}

/*************************************************/
/*                   MATE apps                   */
/*************************************************/

.atril-window .primary-toolbar toolbar, .atril-window .primary-toolbar .inline-toolbar {
  background: none;
}

/*************************************************/
/*               LIGHTDM.MENU                    */
/*************************************************/

.lightdm.menu {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 1px;
  color: white;
}

.lightdm-combo .menu {
  background-color: rgba(253, 253, 254, 0.95);
  border-radius: 0px;
  padding: 0px;
  color: white;
}

.lightdm.menu .menuitem * {
  color: white;
}

.lightdm.menu .menuitem.check:active {
  color: white;
}

.lightdm.menu .menuitem.radio:active {
  color: white;
}

.lightdm.menubar {
  color: rgba(255, 255, 255, 0.8);
  background-image: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightdm.menubar > .menuitem {
  padding: 2px 6px;
}

.lightdm-combo.combobox-entry .button {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none;
}

.lightdm-combo .cell {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none; } 

.lightdm-combo .button {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none; } 

.lightdm-combo .entry {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none; } 

.lightdm.button {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none; } 

.lightdm.entry {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none;
}

.lightdm.button,
.lightdm.button:hover,
.lightdm.button:active,
.lightdm.button:active:focus,
.lightdm.entry,
.lightdm.entry:hover,
.lightdm.entry:active,
.lightdm.entry:active:focus {
  background-image: none;
  border-image: none;
}

.lightdm.button:focus,
.lightdm.entry:focus {
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  border-style: solid;
  color: white;
}

.lightdm.entry:selected {
  background-color: rgba(255, 255, 255, 0.8);
}

.lightdm.entry:active {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: dashentry_spinner 1s infinite linear;
}

.lightdm.option-button {
  padding: 2px;
  background: none;
  border: 0;
}

.lightdm.toggle-button {
  background: none;
  border-width: 0;
}
.lightdm.toggle-button.selected {
  background-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
}
